<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num %>
    <%= f.text_field :num %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 50 %>
  </div>

  <div class="field">
    <%= f.label :required %>
    <%= f.check_box :required %>
  </div>

  <div class="field">
    <%= f.label :offered %>
    <%= f.check_box :offered %>

  <div class="field">
    <%= f.label :professor_id %>
    <%= f.collection_select :professor_id, Professor.all, :id, :fullname, :include_blank => true, selected: course.professor_id %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name, selected: course.category_id %>
  </div>

  <div class="field">
    <%= f.label :semester_id %>
    <%= f.collection_select :semester_id, Semester.all, :id, :name, selected: course.semester_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
