<%= form_for :courses, :url => update_multiple_courses_path, :html => { :method => :post } do |f| %>
  <div><%= f.submit "Save Changes" %></div>
  <br />
 <table>
    <tr>
      <th>Num</th>
      <th>Title</th>
      <th>Req</th>
      <th>Off</td>
      <th>Professor</th>
      <th>Category</th>
      <th>Semester</th>
    </tr>

    <% @courses.each do |course| %>
      <%= fields_for "course[]", course do |cf| %>
        <tr>
          <td><%= cf.hidden_field :id, :value => course.id %>
          <%= cf.text_field :num, :value => course.num, :size => 6 %></td>
          <td><%= cf.text_field :title, :value => course.title, :size => 50 %></td>
          <td><%= cf.check_box :required, :checked => course.required %></td>
          <td><%= cf.check_box :offered, :checked => course.offered %></td>
          <td><%= cf.collection_select :professor_id, Professor.all, :id, :fullname, :include_blank => true, :selected => course.professor_id %></td>
          <td><%= cf.collection_select  :category_id, Category.all, :id, :name, :selected => course.category_id %></td>
          <td><%= cf.collection_select :semester_id, Semester.all, :id, :name, :selected => course.semester_id %></td>
        </tr>
      <% end %> 
    <% end %>
    </table><br />
  <div><%= f.submit "Save Changes" %></div>
<% end %>
