%p= notice

%h1 Courses

%table#courseListing
  %tbody
    %thead
      %th 
      %th{:colspan => 2} Fall
      %th{:colspan => 2} Spring
      %th{:colspan => 2}  Summer

  - @categories.each do |category|
    %tr
      %td.category{:width => "8%"}= category.name  
      %td.required{:width => "18%"}
        - @fall_courses.where(required: true).where(category_id: category).each do |course|
          = link_to course.listing, [:edit, course], :class => (course.offered ? "offered" : "inactive") 
          .faculty= raw course.faculty.collect { |prof| link_to prof.lastname, prof}.join(", ")
      %td.elective{:width => "18%"}
        - @fall_courses.where(required: false).where(category_id: category).each do |course |
          = link_to course.listing, [:edit, course], :class => (course.offered ? "offered" : "inactive") 
          .faculty= raw course.faculty.collect { |prof| link_to prof.lastname, prof}.join(", ")
      %td.required{:width => "18%"}
        - @spring_courses.where(required: true).where(category_id: category).each do |course |
          = link_to course.listing, [:edit, course], :class => (course.offered ? "offered" : "inactive") 
          .faculty= raw course.faculty.collect { |prof| link_to prof.lastname, prof}.join(", ")
      %td.elective{:width => "18%"}
        - @spring_courses.where(required: false).where(category_id: category).each do |course |
          = link_to course.listing, [:edit, course], :class => (course.offered ? "offered" : "inactive") 
          .faculty= raw course.faculty.collect { |prof| link_to prof.lastname, prof}.join(", ")
      %td.required{:width => "10%"}
        - @summer_courses.where(required: true).where(category_id: category).each do |course |
          = link_to course.listing, [:edit, course], :class => (course.offered ? "offered" : "inactive")
          .faculty= raw course.faculty.collect { |prof| link_to prof.lastname, prof}.join(", ")
      %td.elective{:width => "10%"}
        - @summer_courses.where(required: false).where(category_id: category).each do |course |
          = link_to course.listing, [:edit, course], :class => (course.offered ? "offered" : "inactive")
          .faculty= raw course.faculty.collect { |prof| link_to prof.lastname, prof}.join(", ")

%h5= link_to 'New Course', new_course_path
