<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course_faculty.course_id %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @course_faculty.professor_id %>
</p>

<%= link_to 'Edit', edit_course_faculty_path(@course_faculty) %> |
<%= link_to 'Back', course_faculties_path %>
